@charset "UTF-8";   


img {
    width: 100vw;
    margin: -9px;
}

/*Tira a barra de rolagem*/
::-webkit-scrollbar{
    width: 0px;
}

footer {
    background-color: brown;
    margin: -7px;
    margin-bottom: -10px;
    padding: 2px;
}

footer:hover {
    background-color: red;
}

footer a {
    padding: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer > p {
    text-align: center;
    padding-top: 10px;
    font-weight: bolder;
}
