@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

header {
    font-family: "Anton", sans-serif;
    padding: 30px;
    text-align: center;
    background-image: linear-gradient(to top, #368eab, #2121cf);
    color: white;
}

body {
    background-color: #368eab
}

header > h1 {
    font-size: 3em;
    padding: 15px 0px 10px 0px;
}

header > p {
    padding-bottom: 10px;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    max-width: 800px;
    min-width: 380px;
    background-color: white;
    padding: 15px;
    border-radius: 5px 5px 15px 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.262);
}

main h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2.2em;
    padding-bottom: 15px;
    padding-top: 10px;
}

main h3 {
    padding: 10px 0px 10px 0px;
}


main p {
    text-align: justify;
    line-height: 1.5em;
}

section  p.primeiro_paragrafo {
    text-indent: 20px;
}

aside  p.primeiro_paragrafo{
    text-indent: 20px;
}

footer {
    background-color: black;
    padding: 5px;
}

footer p {
    color: white;
    text-align: center;
    text-decoration: none;
}

footer a {
    color: white;
    text-align: center;
    text-decoration: none;
}