@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: white;
}

body {
    background: url(imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    /*Config para imagem responsívas*/
    position: relative;
    height: 100vh;

}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

nav {
    padding-top: 30px;
    padding-right: 20px;

    
    /*Joga todos os links de nav para o final da linha a direita*/
    float: inline-end;
}

nav > ul {
    list-style-type: none;
}

/*Configurações para centalizar uma imagem e ela ser responsiva*/
section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 312px;
    background: url(imagens/frame-iphone.png);

}

/*Config para o iframe caber na tela do celular*/
iframe#tela {
    position: relative;
    top: 80px;
    left: 21px;
    height: 471px;
    width: 270px;
}

img {
    margin: 10px;
    width: 50px;
    height: 50px;
    
    /*Deixar as imagens arredondadas*/
    border-radius: 50%;
}


/*Efeito nos botões das redes sociais*/
section#redes-sociais img:hover{
    /*Cria uma borda para ter animação no botão*/
     border: 2px solid rgba(255, 255, 255, 0.586);

     /*Faz com que quando passe o mouse sobre o botão as imagens desloquem pra cima e para o lado em 3px*/
     transform: translate(-3px, -3px);

     /*Faz uma sombra na caixa dos botões*/
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.468);

     /*Faz com que a animação das caixas dos botões sejam fluidas e durem 0.5 segundos*/
     transition: transform 0.5s, border 1s;
    
}